/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/js/core.min.js
/public/js/vendor.pdfmake.js
/public/js/vendor.chartjs.js
/public/js/vendor.cocoen.js
/public/js/vendor.colorpicker.js
/public/js/vendor.datatables.js
/public/js/vendor.datatables.min.js
/public/js/vendor.datepicker.js
/public/js/vendor.daterangepicker.js
/public/js/vendor.easypie.js
/public/js/vendor.fancybox.js
/public/js/vendor.flickity.js
/public/js/vendor.flot.js
/public/js/vendor.fullcalendar.js
/public/js/vendor.leaflet.js
/public/js/vendor.markdowneditor.js
/public/js/vendor.
